<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %>
        <title>Home</title>
        <a href="https://api.whatsapp.com/send?phone=541131134545&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20FansClub%20." class="float" target="_blank">
            <i class="fa fa-whatsapp my-float"></i>
        </a>
        <link rel="stylesheet" href="/css/home.css">  
    </head>
    <body id="fondo">
        <%- include ('./partials/header.ejs') %>
        <div class="carrusel" style="background-image: url(/images/mainImages/pareja1.jpg)">
            <h2>Hasta 20% Off</h2>
            <h1>COMPRÁ LOS MEJORES JUGUETES Y ACCESORIOS</h1>
            <h5>Hasta 12 cuotas sin interés</h5>
            <a href="/productos/listado">VER MÁS</a>
        </div>
        <div class="titulos"><h3>Ofertas destacadas</h3></div>
        <section class="total-productos">
            <% for(let item of productos[0]) {%> 
                <% if(item.descuento >= 5 && item.id_categoria == 1) {%> 
            <a href="/productos/detalle/<%= item.id%>" id="cajaProducto">
                <div>
                    <div class="imagen-producto">
                        <img id="imagenes" src="/images/products/<%= item.imagen %> "> </img>
                    </div>
                    <div class="textoProductos">
                        <p class="precios">$<%= item.precio%></p>
                        <p class="descuento"><%= item.descuento%>%</p>
                        <p class="descrip"><%= item.nombre%></p>
                    </div>
                </div>
            </a>
            <% } %> 
        <% } %> 
        </section>
        <div class="titulos"><h3>Más visitados</h3></div>
        <section class="total-productos">
            <% for(let item of productos[1]) {%>  
            <a href="/productos/detalle/<%= item.id%>" id="cajaProducto">
                <div>
                    <div class="imagen-producto">
                        <img id="imagenes" src="/images/products/<%= item.imagen %> "> </img>
                    </div>
                    <div class="textoProductos">
                        <p class="precios">$<%= item.precio%></p>
                        <p class="descuento"><%= item.descuento%>%</p>
                        <p class="descrip"><%= item.nombre%></p>
                    </div>
                </div>
            </a> 
        <% } %> 
        </section>
        <%- include ('./partials/footer.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script>
            function menuToggle(){
                const toggleMenu = document.querySelector('.menu');
                toggleMenu.classList.toggle('active')
            }
        </script>
    </body>
</html>