<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include ('../partials/head.ejs') %>
    <title>Mi cuenta</title> 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="infoUser">
    <%- include ('../partials/header.ejs') %>
    <div class="main-section">
        <div class="barra-lateral-izquierda">
            <nav>
                <a href="">Mi cuenta</a>
                <a href="">Gestionar cuenta</a>
                <% if(user.administrador == 0) {%> 
                    <a href="">Idioma</a>
                    <a href="">Recibos</a>
                <% } %> 
                <% if(user.administrador == 1){ %> 
                    <a href="/productos/creacion">Crear Producto <i class="fas fa-plus-circle"></i> </a>
                    <a target="_blank" rel="noopener noreferrer" href="http://localhost:3000">Dashboard <i class="fas fa-tachometer-alt"></i> </a>
                <% } %> 
            </nav>
        </div>
        <div class="mi-cuenta">
            <div class="img-avatar" style="background-image: url(/images/avatars/<%=user.avatar%>)">
                <span>¡Hola, <%= user.nombre %>!</span>
            </div> 
            <div class="informacion-personal">
                <h3>Información personal</h3>
                <div class="propiedad-formulario">
                    <h4 id="espacio">Nombre:</h4>
                    <h4>Apellido:</h4>
                    <h4>Email:</h4>
                    <h4>Fecha: </h4>
                </div>
                <div class="info-read">
                    <form action="">
                        <div class="input-read">
                            <input type="text" name="nombre" value="<%= user.nombre %>" readonly="readonly" class="form-onlyread" id="dtll">
                        </div>
                        <div class="input-read">
                            <input type="text" name="apellido" value="<%= user.apellido %>" readonly="readonly" class="form-onlyread" id="dtll">
                        </div>
                        <div class="input-read">
                            <input type="email" name="email" value="<%= user.email %>" readonly="readonly" class="form-onlyread" id="dtll">
                        </div>
                        <div class="input-read">
                            <input type="date" name="fechaNacimiento" value="<%= user.fecha_nacimiento %>" readonly="readonly" class="form-onlyread" id="dtll">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        function menuToggle(){
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>
</body>
</html>