<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
        <title>Edicion</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/product.css">
    </head>
<body>
    <div class="main-header-top-bar">
        <a href="/" id="logo">
          <span class="main-header-titulo"> fansclub. </span>
        </a>
    </div>
    <div class="formulario">
        <div class="main-form">
            <div>
                <h2 class="titulo-form">Formulario de edicion de productos</h2>
            </div>
            <form action="/productos/edicion/<%=ProductoModificar.id%>?_method=PUT" method="POST">
                <div class="create-form">
                    <label for="nombreProducto" class="form-label">Nombre del producto:</label>
					<input value="<%=ProductoModificar.nombreProducto%>" type="text" id="nombreProducto" name="nombreProducto" placeholder="Ej: Vibrador XXL" class="form-input">
                </div>
                <div class="create-form">
                    <label for="precio" class="form-label">Precio:</label>
					<input value="<%=ProductoModificar.precio%>" type="number" id="precio" name="precio" placeholder="Ej: $2500" class="form-input">
                </div>
                <div class="create-form">
                    <label for="descuento" class="form-label">Descuento:</label>
					<input value="<%=ProductoModificar.descuento%>" type="number" id="descuento" name="descuento" placeholder="Ej: 10" class="form-input">
                </div>
                <div class="create-form">
                    <label for="imagen" class="form-label">Imagen del producto:</label>
                    <input type="file" id="imagen" name="imagen" class="form-input">
                </div>
                <div class="create-form">
                    <label for="descripcion" class="form-label">Descripcion:</label>
					<textarea name="descripcion" id="descripcion" class="form-input"><%=ProductoModificar.descripcion%></textarea>
                </div>
                <div class="create-form">
                    <label for="modoDeUso" class="form-label">Modo de uso:</label>
					<textarea name="modoDeUso" id="modoDeUso" class="form-input"><%=ProductoModificar.modoDeUso%></textarea>
                </div>
                <div class="create-form" id="boton">
                    <button type="submit" class="button-create-form"> GUARDAR </button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>