<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
        <title>Edicion</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body class="body-form">
    <div class="main-header-top-bar-form">
        <a href="/" id="logo">
          <span class="main-header-titulo-form" style="color: white;"> fansclub. </span>
        </a>
    </div>
    <div class="formulario">
        <div class="main-form-product">
            <div>
                <h2 class="titulo-form-product">Formulario de edición de productos</h2>
            </div>
            <form action="/productos/edicion/<%=productoEncontrado.id%>?_method=PUT" method="POST" id="formEditProduct" enctype="multipart/form-data">
                <div class="create-form">
                    <label for="nombreProducto" class="form-label-product">Nombre del producto:</label>
					<input value="<%=productoEncontrado.nombre%>" type="text" id="nombreProducto" name="nombreProducto" placeholder="Ej: Vibrador XXL" class="form-input-product">
                    <div id="nombreError" class="text-error"></div>
                    <% if (locals.errors && errors.nombreProducto) { %>
                        <div class="text-alert">
                            <i class="fas fa-exclamation-circle"></i><%= errors.nombreProducto.msg %><i class="fas fa-exclamation-circle"></i>
                        </div> 
                    <% } %> 
                </div>
                <div class="form-box">
                    <div class="create-form precio-descuento">
                        <label for="precio" class="form-label-product">Precio:</label>
                        <input value="<%=productoEncontrado.precio%>" type="number" id="precio" name="precio" placeholder="Ej: $2500" class="form-input-product">
                        <div id="precioError" class="text-error"></div>
                        <% if (locals.errors && errors.precio) { %>
                            <div class="text-alert">
                                <i class="fas fa-exclamation-circle"></i><%= errors.precio.msg %><i class="fas fa-exclamation-circle"></i>
                            </div> 
                        <% } %> 
                    </div>
                    <div class="create-form precio-descuento">
                        <label for="descuento" class="form-label-product">Descuento:</label>
                        <input value="<%=productoEncontrado.descuento%>" type="number" id="descuento" name="descuento" placeholder="Ej: 10" class="form-input-product">
                    </div>
                </div>
                <div class="create-form">
                    <label for="descripcion" class="form-label-product">Descripción:</label>
					<textarea name="descripcion" id="descripcion" class="form-input-product"><%=productoEncontrado.descripcion%></textarea>
                    <div id="descripError" class="text-error"></div>
                    <% if (locals.errors && errors.descripcion) { %>
                        <div class="text-alert">
                            <i class="fas fa-exclamation-circle"></i><%= errors.descripcion.msg %><i class="fas fa-exclamation-circle"></i>
                        </div> 
                    <% } %> 
                </div>
                <div class="create-form">
                    <label for="modoDeUso" class="form-label-product">Modo de uso:</label>
					<textarea name="modoDeUso" id="modoDeUso" class="form-input-product"><%=productoEncontrado.modo_de_uso%></textarea>
                    <div id="usoError" class="text-error"></div>
                    <% if (locals.errors && errors.modoDeUso) { %>
                        <div class="text-alert">
                            <i class="fas fa-exclamation-circle"></i><%= errors.modoDeUso.msg %><i class="fas fa-exclamation-circle"></i>
                        </div> 
                    <% } %> 
                </div>
                <div class="form-box">
                    <div class="create-form categoria-producto">
                        <label for="categoria" class="form-label-product">Categoría:</label><br> 
                        <select name="categoria" aria-placeholder="Seleccionar" class="select-form" id="categoria">
                            <option value="Vibradores">Vibradores</option>
                            <option value="Cremas">Cremas</option>
                            <option value="Accesorios">Accesorios</option>
                            <option value="Prendas">Prendas</option>
                        </select>
                    </div>
                    <div class="create-form">
                        <label for="imagen" class="form-label-product">Imagen del producto:</label>
                        <input type="file" id="imagen" name="imagen" class="form-input-product" style="color: white;">
                        <div id="imagenError" class="text-error"></div>
                        <% if (locals.errors && errors.imagen) { %>
                            <div class="text-alert">
                                <i class="fas fa-exclamation-circle"></i><%= errors.imagen.msg %><i class="fas fa-exclamation-circle"></i>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="create-form" id="boton-form" style="text-align: center;">
                    <button type="submit" class="button-create-form"> GUARDAR </button>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/productEditValidations.js"></script>
</body>
</html>