<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
        <title>Listado de productos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">  
    </head>
    <body>
        <%- include ('../partials/header.ejs') %>
        <% for(let producto of todosLosProductos) { %>
        <section class="total-productos">
            <a href="/productos/detalle/<%= producto.id %> " id="cajaProducto">
                <div>
                    <div class="imagen-producto">
                        <img id="imagenes" src="/images/productocrema1.jpeg"> </img>
                    </div>
                    <div class="textoProductos">
                        <p class="precios">$<%= producto.precio %> </p>
                        <p class="descuento"><%= producto.descuento %> % off</p>
                        <p class="descrip"><%= producto.nombreProducto %> </p>
                    </div>
                </div>
            </a>
        </section>
        <% } %> 
        <%- include ('../partials/footer.ejs') %> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            function menuToggle(){
                const toggleMenu = document.querySelector('.menu');
                toggleMenu.classList.toggle('active')
            }
        </script>
    </body>
</html>