<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
        <title>Listado de productos</title>
        <link rel="stylesheet" href="/css/styles.css">  
    </head>
    <body>
        <%- include ('../partials/header.ejs') %>
        <h2 class="titulo-listado">Vibradores</h2>
        <section class="total-productos-listado">
            <% for(let producto of todosLosProductos) {%> 
                <% if(producto.id_categoria == 1) {%> 
            <a href="/productos/detalle/<%= producto.id%>" id="anchor-listado">
                <div class="cajaProductoListado">
                    <div class="imagen-producto-listado">
                        <img id="imagenes-listado" src="/images/products/<%= producto.imagen %>"></img>
                    </div>
                    <div class="textoProductos-listado">
                        <p class="precios-listado">$<%= producto.precio%></p>
                        <p class="descuento-listado"><%= producto.descuento%>%</p>
                        <p class="descripcion-listado"><%= producto.nombre%></p>
                    </div>
                </div>
            </a>
            <% } %> 
        <% } %> 
        </section>
        <h2 class="titulo-listado">Cremas</h2>
        <section class="total-productos-listado">
            <% for(let producto of todosLosProductos) {%> 
                <% if(producto.id_categoria == 2) {%> 
            <a href="/productos/detalle/<%= producto.id%>" id="anchor-listado">
                <div class="cajaProductoListado">
                    <div class="imagen-producto-listado">
                        <img id="imagenes-listado" src="/images/products/<%= producto.imagen %>"></img>
                    </div>
                    <div class="textoProductos-listado">
                        <p class="precios-listado">$<%= producto.precio%></p>
                        <p class="descuento-listado"><%= producto.descuento%>%</p>
                        <p class="descripcion-listado"><%= producto.nombre%></p>
                    </div>
                </div>
            </a>
            <% } %> 
        <% } %> 
        </section>
        <h2 class="titulo-listado">Accesorios</h2>
        <section class="total-productos-listado">
            <% for(let producto of todosLosProductos) {%> 
                <% if(producto.id_categoria == 3) {%> 
            <a href="/productos/detalle/<%= producto.id%>" id="anchor-listado">
                <div class="cajaProductoListado">
                    <div class="imagen-producto-listado">
                        <img id="imagenes-listado" src="/images/products/<%= producto.imagen %>"></img>
                    </div>
                    <div class="textoProductos-listado">
                        <p class="precios-listado">$<%= producto.precio%></p>
                        <p class="descuento-listado"><%= producto.descuento%>%</p>
                        <p class="descripcion-listado"><%= producto.nombre%></p>
                    </div>
                </div>
            </a>
            <% } %> 
        <% } %> 
        </section>
        <h2 class="titulo-listado" id="papito">Lencería</h2>
        <section class="total-productos-listado">
            <% for(let producto of todosLosProductos) {%> 
                <% if(producto.id_categoria == 4) {%> 
            <a href="/productos/detalle/<%= producto.id%>" id="anchor-listado">
                <div class="cajaProductoListado">
                    <div class="imagen-producto-listado">
                        <img id="imagenes-listado" src="/images/products/<%= producto.imagen %>"></img>
                    </div>
                    <div class="textoProductos-listado">
                        <p class="precios-listado">$<%= producto.precio%></p>
                        <p class="descuento-listado"><%= producto.descuento%>%</p>
                        <p class="descripcion-listado"><%= producto.nombre%></p>
                    </div>
                </div>
            </a>
            <% } %> 
        <% } %> 
        </section>
        <%- include ('../partials/footer.ejs') %> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            function menuToggle(){
                const toggleMenu = document.querySelector('.menu');
                toggleMenu.classList.toggle('active')
            }
        </script>
    </body>
</html>